body {
  font-family: "Lato";
  font-weight: 300;
  min-height: 100vh;
}

#container {
  min-height: 100vh;
}

* {
  margin: 0;
  text-decoration: none;
}

#outer-container {
  background: url("style/images/graphy.png");
  min-height: 100vh;
  position: relative;
  width: 100%;
}

#inner-container {
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 100vh;
  margin: 0 auto;
  width: 1050px;
}

.view {
  padding: 15px 30px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 100%;
  min-height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

input,
select {
  height: 34px;
  padding: 0 10px;
  width: calc(100% - 24px);
}

.clickable-text:hover {
  color: #3996f0;
  cursor: pointer;
}

.button,
.button-inverse,
.button-action {
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  height: 39px;
  line-height: 39px;
  padding: 0 22px;
  text-align: center;
}

.button {
  background-color: white;
  border: 1px solid #3996f0;
  color: #3996f0;
}

.button:hover {
  border: 1px solid #2b71b5;
  color: #2b71b5;
}

.button:active {
  color: #6ab0f4;
}

.button-inverse {
  background-color: #3996f0;
  color: white;
}

.button-inverse:hover {
  background-color: #2b71b5;
}

.button-inverse:active {
  background-color: #6ab0f4;
}

.button-action {
  background-color: #71ac00;
  color: white;
}

.button-action:active,
.button-action:hover {
  background-color: green;
}

.button-disabled {
  opacity: 0.6;
}

.list-action-btn {
  cursor: pointer;
}

.class-color {
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  margin-right: 15px;
  width: 25px;
}

.class-code {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-weight: bold;
}

.class-code-key {
  color: #808080;
  font-size: 16px;
}

.class-code-value {
  color: #404040;
  font-size: 16px;
}

.backlink {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.emph {
  font-weight: bold;
}

.unselectable {
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.absimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.service-outage {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #ff0051;
  border-bottom: 1px solid #ff8033;
  color: white;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.service-outage > a {
  margin: 0 5px;
}

.preload-image {
  left: 0;
  opacity: 0;
  position: absolute;
  top: -2000px;
  z-index: -100;
}

.katex-container {
  text-overflow: ellipsis;
}
