.class-details {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.class-color-picker {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  left: 27.5px;
  position: absolute;
  top: -12.5px;
  z-index: 1;
}

.class-color-picker-expand {
  height: 75px;
}

.class-color-picker-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.class-color-picker-choice {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.classes-list-ftu {
  background-color: rgba(109,63,199, 0.8);
  color: white;
  font-size: 18px;
  margin: 15px 0;
  padding: 8px 30px !important;
  text-align: center;
  user-select: none;
}

.classes-list-ftu .emph {
  margin-right: 5px;
}

.classes-list-clipboard-container {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.copy-to-clipboard {
  background-image: url("style/images/copy-to-clipboard_btn.png");
  cursor: pointer;
  height: 25px;
  margin-right: 3px;
  width: 25px;
}
