.classes-show-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.classes-show-header-title {
  padding-right: 15px;
}

.classes-show-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
}

.classes-show-students {
  width: 280px;
}

.classes-show-assignments {
  width: 680px;
}

.classes-show-create-assignment {
  position: absolute;
  right: 0;
  top: 0;
}

.try-it-button {
  padding: 0 !important;
}
