#home {
  left: 0;
  overflow-x: hidden;
  min-width: 100vw;
  position: absolute;
}

.home-container {
  margin: 0 auto;
  position: relative;
  width: 1050px;
}

.panel {
  position: relative;
}

.demo {
  width: 100%;
}

#home .topbar-action {
  color: white;
}

.reset-password-link {
  padding-top: 10px;
}
